.productitem{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}


.productitem__image{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.productitem__image>img{
    height: 100px;
    width: 120px;
    border-radius: 45%;
}


.productitem__name{
    text-align: center;
    font-weight: bold;
    
}

.productitem__name>p{
    margin-top: 40%;
}