.signup{
}
.signup__heading{
align-items: center;
text-align: center;
margin-top: 20px;
}

.signup__form__div{
    display: flex;
    margin-top: 20px;
}

.signup__form__input>input{
width: 400px;
height: 50px;
font-size: larger;
outline: none;
border: none;
border-radius: 30px;
padding-left: 20px;
border: 1px solid gray;
color: gray;
}

.signup__form__input>input:focus{
    border-color:rgb(85,107,47);
    border-width: 2px;
    color: #111;
}

.signup__form__input{
    
    margin-bottom: 20px;

}

.signup__form{
    padding: 30px;
    height: 300px;
    margin: 0 auto;
    border-radius: 7px;
    -webkit-box-shadow: 0px 2px 5px 3px rgba(176,176,176,1);
    -moz-box-shadow: 0px 2px 5px 3px rgba(176,176,176,1);
    box-shadow: 0px 2px 5px 3px rgba(176,176,176,1);
}

button {
    margin-left: 70%;
    --primary-color:rgb(85,107,47);
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }
  
  button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  button:hover {
    background-color: var(--hover-color);
  }
  
  button:hover .arrow {
    background: var(--secondary-color);
  }
  
  button:hover .arrow:before {
    right: 0;
  }

  .signup__forgot{
    text-decoration: none;
    color: rgb(85,107,47);
    font-weight: bold;
    margin-left: 10px;
  }